/* Estilos Generales */

/*
*{

	outline: dotted red;
}
 */
body {
	font-family: helvetica, Arial, Open Sans, sans-serief;
	font-size: 12px;
	color: #333333;
	margin: 0;
}

a {
	text-decoration: none;
	color: #FFF
}

/* Estilos Particulares */

header {
	background-color: #333;  
	overflow: hidden; /* Estirarse hasta el hijo float más alto */
	padding: 15px;
	
}

header h1 {
	margin: 0;
	color: #FFF;
	float: left; /* Float para eliminar el margin y que pueda coexistir con otro bloque */
}

header nav {

	float: right;
	padding: 5px;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
} 
	
header nav ul li {
display: inline-block;

}

header nav a {

text-align: center;
padding: 5px;

}

header nav a:hover {
	color:#333;
	background-color: #FFF;
}